> Roychao

## 2-1 make different time period dataframe

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.pyplot import figure
import seaborn as sns
sns.set( style="ticks" )

df_dataset = pd.read_csv("data/1_dataset_elec.csv", index_col=0)
print(df_dataset.head())

       date  supply  demand  industry    civil    OR
0  20210101   28487   25720   311.468  212.061  2936
1  20210102   28421   25485   304.952  207.625  3037
2  20210103   28513   25476   299.771  204.098  3032
3  20210104   32766   29734   342.273  233.036  3067
4  20210105   33117   30050   353.795  240.880  3102

## 2-1-2 remove outlier version

In [4]:
df_dataset.describe()

,date,supply,demand,industry,civil,OR
count,3.950000e+02,395.000000,395.000000,395.000000,395.000000,395.000000
mean,2.021139e+07,35351.356962,31705.675949,393.638881,279.005995,3646.551899
std,2.527799e+03,4255.525415,3912.036889,92.534327,49.342083,921.017138
min,2.021010e+07,24905.000000,21913.000000,271.573000,199.353000,1437.000000
25%,2.021041e+07,32759.000000,29639.000000,353.129000,243.970500,3046.000000
50%,2.021072e+07,34324.000000,30760.000000,373.638000,263.573000,3338.000000
75%,2.021102e+07,39124.500000,35208.500000,394.251000,309.385500,4053.000000
max,2.022013e+07,42878.000000,38844.000000,736.267000,407.732000,6911.000000

In [5]:
from sklearn.preprocessing import MinMaxScaler

min_max_scaler = MinMaxScaler()
df_tmp = df_dataset.copy()

min_max_scaler.fit(df_tmp[[
        'supply', 'demand', 'industry', 'civil']])
print(f'min: {min_max_scaler.data_min_}')
print(f'max: {min_max_scaler.data_max_}')

df_tmp[[
        'supply', 'demand', 'industry', 'civil']] = min_max_scaler.fit_transform(df_tmp[['supply', 'demand', 'industry', 'civil']])
df_tmp.drop(columns='date', inplace=True)

min: [24905.    21913.      271.573   199.353]
max: [42878.    38844.      736.267   407.732]

In [6]:
df_tmp.describe()

           supply      demand    industry       civil           OR
count  395.000000  395.000000  395.000000  395.000000   395.000000
mean     0.581225    0.578387    0.262680    0.382251  3646.551899
std      0.236773    0.231058    0.199130    0.236790   921.017138
min      0.000000    0.000000    0.000000    0.000000  1437.000000
25%      0.436989    0.456323    0.175505    0.214117  3046.000000
50%      0.524064    0.522533    0.219639    0.308188  3338.000000
75%      0.791159    0.785276    0.263997    0.528040  4053.000000
max      1.000000    1.000000    1.000000    1.000000  6911.000000

In [7]:
from scipy import stats
df_tmp[(np.abs(stats.zscore(df_tmp.drop(columns='OR'))) < 3).all(axis=1)]

       supply    demand  industry     civil    OR
0    0.199299  0.224854  0.085852  0.060985  2936
1    0.195627  0.210974  0.071830  0.039697  3037
2    0.200746  0.210442  0.060681  0.022771  3032
3    0.437378  0.461934  0.152143  0.161643  3067
4    0.456908  0.480598  0.176938  0.199286  3102
..        ...       ...       ...       ...   ...
390  0.428087  0.480598  0.240272  0.231242  3464
391  0.443165  0.442561  0.229887  0.216284  4700
392  0.414399  0.339023  0.187853  0.155731  3346
393  0.259278  0.254326  0.134882  0.079432  3087
394  0.182997  0.188648  0.100072  0.029293  3111

[371 rows x 5 columns]

In [9]:
from scipy import stats
df_outlier = df_dataset[(np.abs(stats.zscore(df_dataset.drop(columns=['OR', 'date']))) < 3).all(axis=1)]
# len( df_outlier )

min_max_scaler = MinMaxScaler()

min_max_scaler.fit(df_outlier[[
        'supply', 'demand', 'industry', 'civil'
        ]])
print(f'min: {min_max_scaler.data_min_}')
print(f'max: {min_max_scaler.data_max_}')

df_outlier[[
        'supply', 'demand', 'industry', 'civil'
        ]] = min_max_scaler.fit_transform(
            df_outlier[[
        'supply', 'demand', 'industry', 'civil'
        ]])


df_outlier.to_csv("data/3_dataset_outlier_elec.csv")

min: [24905.    21913.      271.573   199.353]
max: [42878.    38844.      658.12    364.455]

/Users/blueshiner/anaconda3/envs/py39/lib/python3.9/site-packages/pandas/core/frame.py:3607: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._set_item(key, value)

In [11]:
df_outlier.describe()

,date,supply,demand,industry,civil,OR
count,3.710000e+02,371.000000,371.000000,371.000000,371.000000,371.000000
mean,2.021142e+07,0.560071,0.560251,0.262423,0.437168,3576.169811
std,2.604201e+03,0.227976,0.225868,0.117749,0.246972,891.172605
min,2.021010e+07,0.000000,0.000000,0.000000,0.000000,1437.000000
25%,2.021040e+07,0.430340,0.446991,0.206870,0.263807,3033.500000
50%,2.021070e+07,0.508318,0.515032,0.258869,0.360898,3285.000000
75%,2.021103e+07,0.744283,0.701553,0.305407,0.642333,3932.000000
max,2.022013e+07,1.000000,1.000000,1.000000,1.000000,6911.000000

## 2-2 Make 2a_dataset_diffdays_elec.csv

In [20]:
from scipy.stats import skew
from scipy.stats import kurtosis

diff = diff

s_min = []
s_max = []
s_skew = []
s_kurt = []

d_min = []
d_max = []
d_skew = []
d_kurt = []

i_min = []
i_max = []
i_skew = []
i_kurt = []

c_min = []
c_max = []
c_skew = []
c_kurt = []

ans = []
date = []

for i in range( len(df_dataset) - diff ):
    idx = i + diff - 1
    
    s_min.append( min(df_dataset['supply'][idx - diff + 1 : idx + 1]) )
    s_max.append( max(df_dataset['supply'][idx - diff + 1 : idx + 1]) )
    s_skew.append( skew(df_dataset['supply'][idx - diff + 1 : idx + 1]) )
    s_kurt.append( kurtosis(df_dataset['supply'][idx - diff + 1 : idx + 1]) )
    
    d_min.append( min(df_dataset['demand'][idx - diff + 1 : idx + 1]) )
    d_max.append( max(df_dataset['demand'][idx - diff + 1 : idx + 1]) )
    d_skew.append( skew(df_dataset['demand'][idx - diff + 1 : idx + 1]) )
    d_kurt.append( kurtosis(df_dataset['demand'][idx - diff + 1 : idx + 1]) )

    i_min.append( min(df_dataset['industry'][idx - diff + 1 : idx + 1]) )
    i_max.append( max(df_dataset['industry'][idx - diff + 1 : idx + 1]) )
    i_skew.append( skew(df_dataset['industry'][idx - diff + 1 : idx + 1]) )
    i_kurt.append( kurtosis(df_dataset['industry'][idx - diff + 1 : idx + 1]) )

    c_min.append( min(df_dataset['civil'][idx - diff + 1 : idx + 1]) )
    c_max.append( max(df_dataset['civil'][idx - diff + 1 : idx + 1]) )
    c_skew.append( skew(df_dataset['civil'][idx - diff + 1 : idx + 1]) )
    c_kurt.append( kurtosis(df_dataset['civil'][idx - diff + 1 : idx + 1]) )

    ans.append( df_dataset['OR'][idx] )
    date.append( df_dataset['date'][idx] )

df_2 = pd.DataFrame(
    list(zip(
        ans, date,
        s_min, s_max, s_skew, s_kurt,
        d_min, d_max, d_skew, d_kurt,
        i_min, i_max, i_skew, i_kurt,
        c_min, c_max, c_skew, c_kurt)),
    columns =[
        'OR', 'date',
        's_min', 's_max', 's_skew', 's_kurt',
        'd_min', 'd_max', 'd_skew', 'd_kurt',
        'i_min', 'i_max', 'i_skew', 'i_kurt',
        'c_min', 'c_max', 'c_skew', 'c_kurt',]
)

In [21]:
df_2.to_csv("data/2_df2_elec.csv")

## 2-3 diff Make 2a_dataset_5days_elec

In [25]:
from scipy.stats import skew
from scipy.stats import kurtosis

diff = 5

s_min = []
s_max = []
s_skew = []
s_kurt = []

d_min = []
d_max = []
d_skew = []
d_kurt = []

i_min = []
i_max = []
i_skew = []
i_kurt = []

c_min = []
c_max = []
c_skew = []
c_kurt = []

ans = []
date = []

for i in range( len(df_dataset) - diff ):
    idx = i + diff - 1
    
    s_min.append( min(df_dataset['supply'][idx - diff + 1 : idx + 1]) )
    s_max.append( max(df_dataset['supply'][idx - diff + 1 : idx + 1]) )
    s_skew.append( skew(df_dataset['supply'][idx - diff + 1 : idx + 1]) )
    s_kurt.append( kurtosis(df_dataset['supply'][idx - diff + 1 : idx + 1]) )
    
    d_min.append( min(df_dataset['demand'][idx - diff + 1 : idx + 1]) )
    d_max.append( max(df_dataset['demand'][idx - diff + 1 : idx + 1]) )
    d_skew.append( skew(df_dataset['demand'][idx - diff + 1 : idx + 1]) )
    d_kurt.append( kurtosis(df_dataset['demand'][idx - diff + 1 : idx + 1]) )

    i_min.append( min(df_dataset['industry'][idx - diff + 1 : idx + 1]) )
    i_max.append( max(df_dataset['industry'][idx - diff + 1 : idx + 1]) )
    i_skew.append( skew(df_dataset['industry'][idx - diff + 1 : idx + 1]) )
    i_kurt.append( kurtosis(df_dataset['industry'][idx - diff + 1 : idx + 1]) )

    c_min.append( min(df_dataset['civil'][idx - diff + 1 : idx + 1]) )
    c_max.append( max(df_dataset['civil'][idx - diff + 1 : idx + 1]) )
    c_skew.append( skew(df_dataset['civil'][idx - diff + 1 : idx + 1]) )
    c_kurt.append( kurtosis(df_dataset['civil'][idx - diff + 1 : idx + 1]) )

    ans.append( df_dataset['OR'][idx] )
    date.append( df_dataset['date'][idx] )

df_2 = pd.DataFrame(
    list(zip(
        ans, date,
        s_min, s_max, s_skew, s_kurt,
        d_min, d_max, d_skew, d_kurt,
        i_min, i_max, i_skew, i_kurt,
        c_min, c_max, c_skew, c_kurt)),
    columns =[
        'OR', 'date',
        's_min', 's_max', 's_skew', 's_kurt',
        'd_min', 'd_max', 'd_skew', 'd_kurt',
        'i_min', 'i_max', 'i_skew', 'i_kurt',
        'c_min', 'c_max', 'c_skew', 'c_kurt',]
)

In [26]:
df_2.to_csv("data/2_df2_5day_elec.csv")

## 2-4 Make 2a_dataset_7days_elec

In [27]:
from scipy.stats import skew
from scipy.stats import kurtosis

diff = 7

s_min = []
s_max = []
s_skew = []
s_kurt = []

d_min = []
d_max = []
d_skew = []
d_kurt = []

i_min = []
i_max = []
i_skew = []
i_kurt = []

c_min = []
c_max = []
c_skew = []
c_kurt = []

ans = []
date = []

for i in range( len(df_dataset) - diff ):
    idx = i + diff - 1
    
    s_min.append( min(df_dataset['supply'][idx - diff + 1 : idx + 1]) )
    s_max.append( max(df_dataset['supply'][idx - diff + 1 : idx + 1]) )
    s_skew.append( skew(df_dataset['supply'][idx - diff + 1 : idx + 1]) )
    s_kurt.append( kurtosis(df_dataset['supply'][idx - diff + 1 : idx + 1]) )
    
    d_min.append( min(df_dataset['demand'][idx - diff + 1 : idx + 1]) )
    d_max.append( max(df_dataset['demand'][idx - diff + 1 : idx + 1]) )
    d_skew.append( skew(df_dataset['demand'][idx - diff + 1 : idx + 1]) )
    d_kurt.append( kurtosis(df_dataset['demand'][idx - diff + 1 : idx + 1]) )

    i_min.append( min(df_dataset['industry'][idx - diff + 1 : idx + 1]) )
    i_max.append( max(df_dataset['industry'][idx - diff + 1 : idx + 1]) )
    i_skew.append( skew(df_dataset['industry'][idx - diff + 1 : idx + 1]) )
    i_kurt.append( kurtosis(df_dataset['industry'][idx - diff + 1 : idx + 1]) )

    c_min.append( min(df_dataset['civil'][idx - diff + 1 : idx + 1]) )
    c_max.append( max(df_dataset['civil'][idx - diff + 1 : idx + 1]) )
    c_skew.append( skew(df_dataset['civil'][idx - diff + 1 : idx + 1]) )
    c_kurt.append( kurtosis(df_dataset['civil'][idx - diff + 1 : idx + 1]) )

    ans.append( df_dataset['OR'][idx] )
    date.append( df_dataset['date'][idx] )

df_2 = pd.DataFrame(
    list(zip(
        ans, date,
        s_min, s_max, s_skew, s_kurt,
        d_min, d_max, d_skew, d_kurt,
        i_min, i_max, i_skew, i_kurt,
        c_min, c_max, c_skew, c_kurt)),
    columns =[
        'OR', 'date',
        's_min', 's_max', 's_skew', 's_kurt',
        'd_min', 'd_max', 'd_skew', 'd_kurt',
        'i_min', 'i_max', 'i_skew', 'i_kurt',
        'c_min', 'c_max', 'c_skew', 'c_kurt',]
)

In [28]:
df_2.to_csv("data/2_df2_7day_elec.csv")

## 2-5 Make 2a_dataset_14days_elec

In [30]:
from scipy.stats import skew
from scipy.stats import kurtosis

diff = 14

s_min = []
s_max = []
s_skew = []
s_kurt = []

d_min = []
d_max = []
d_skew = []
d_kurt = []

i_min = []
i_max = []
i_skew = []
i_kurt = []

c_min = []
c_max = []
c_skew = []
c_kurt = []

ans = []
date = []

for i in range( len(df_dataset) - diff ):
    idx = i + diff - 1
    
    s_min.append( min(df_dataset['supply'][idx - diff + 1 : idx + 1]) )
    s_max.append( max(df_dataset['supply'][idx - diff + 1 : idx + 1]) )
    s_skew.append( skew(df_dataset['supply'][idx - diff + 1 : idx + 1]) )
    s_kurt.append( kurtosis(df_dataset['supply'][idx - diff + 1 : idx + 1]) )
    
    d_min.append( min(df_dataset['demand'][idx - diff + 1 : idx + 1]) )
    d_max.append( max(df_dataset['demand'][idx - diff + 1 : idx + 1]) )
    d_skew.append( skew(df_dataset['demand'][idx - diff + 1 : idx + 1]) )
    d_kurt.append( kurtosis(df_dataset['demand'][idx - diff + 1 : idx + 1]) )

    i_min.append( min(df_dataset['industry'][idx - diff + 1 : idx + 1]) )
    i_max.append( max(df_dataset['industry'][idx - diff + 1 : idx + 1]) )
    i_skew.append( skew(df_dataset['industry'][idx - diff + 1 : idx + 1]) )
    i_kurt.append( kurtosis(df_dataset['industry'][idx - diff + 1 : idx + 1]) )

    c_min.append( min(df_dataset['civil'][idx - diff + 1 : idx + 1]) )
    c_max.append( max(df_dataset['civil'][idx - diff + 1 : idx + 1]) )
    c_skew.append( skew(df_dataset['civil'][idx - diff + 1 : idx + 1]) )
    c_kurt.append( kurtosis(df_dataset['civil'][idx - diff + 1 : idx + 1]) )

    ans.append( df_dataset['OR'][idx] )
    date.append( df_dataset['date'][idx] )

df_2 = pd.DataFrame(
    list(zip(
        ans, date,
        s_min, s_max, s_skew, s_kurt,
        d_min, d_max, d_skew, d_kurt,
        i_min, i_max, i_skew, i_kurt,
        c_min, c_max, c_skew, c_kurt)),
    columns =[
        'OR', 'date',
        's_min', 's_max', 's_skew', 's_kurt',
        'd_min', 'd_max', 'd_skew', 'd_kurt',
        'i_min', 'i_max', 'i_skew', 'i_kurt',
        'c_min', 'c_max', 'c_skew', 'c_kurt',]
)

In [31]:
df_2.to_csv("data/2_df2_14day_elec.csv")